{{#if pregnancyDetails.isEDDPassed}}
<div id="warning"></div>
<div id="warning-modal-container" class="modal-container" style="display: block;">
    <div id="modal-goes-here">
        <div id="ancWarningModal" class="edd-modal-content">
            <div class="edd-popup"><img class="edd-popup-image"></div>
            <div class="big-text-black edd-modal-text">EDD {{pregnancyDetails.daysPastEdd}} days past due!</div>
            <div class="edd-modal-button">
                <button id="deliveryOutcomeFormButton" class="btn btn-large btn-primary" type="button"
                        data-form="delivery_outcome" data-caseid="{{caseId}}">
                    <div class="edd-modal-button-text">Delivery Outcome Form</div>
                </button>
            </div>
            <div class="edd-modal-button">
                <button id="goToProfileButton" class="btn edd-modal-row" type="button">
                    <div class="edd-modal-button-text">Go To Profile</div>
                </button>
            </div>
        </div>
    </div>
</div>
{{/if}}
<div class="navbar navbar-fixed-top">
    <div class="navbar-inner">
        <ul class="area-6_5 nav pull-left">
            <li class="area-7_5">
                <div class="navbar-header ellipsis">{{formatText coupleDetails.wifeName}}</div>
            </li>
        </ul>

        <ul class="nav pull-right">
            <li><img class="separator"></li>
            <li data-modal-target="#ancFormModal"><img class="update-data"></li>
        </ul>
    </div>
</div>

<div id="ancFormModal" class="modal-content">
    <div class="modal-row" data-form="anc_visit" data-caseid="{{caseId}}">ANC visit</div>
    <div class="divider"></div>
    <div class="modal-row" data-form="delivery_outcome" data-caseid="{{caseId}}">Delivery outcome</div>
    <div class="divider"></div>
    <div class="modal-row" data-form="anc_close" data-caseid="{{caseId}}">Close ANC</div>
</div>

<div id="content" class="content-detail">
    <div class="status-bar">
        {{#if coupleDetails.isInArea}}
        <span class="left-text">ANC</span>
        {{else}}
        <span class="left-text">Out of Area ANC</span>
        {{/if}}
        {{#ifFalse details.isHighRisk}}
        <span class="right-text high-risk">High Risk</span>
        {{else}}
        <span class="right-text normal-risk">Normal Risk</span>
        {{/ifFalse}}
    </div>
    <div class="registry-container container-fluid">
        <div class="row-fluid">
            <div class="span4">
                <img id="womanPhoto" src="file://{{coupleDetails.photo_path}}">
            </div>
            <div class="span8">
                <ul class="client-details unstyled">
                    <li>
                        <div class="row-fluid">
                            <div class="span9 big-text">{{formatText coupleDetails.wifeName}}</div>
                            <div class="span3 social-vulnerability text-right">
                                {{formatSocialVulnerability coupleDetails.caste coupleDetails.economicStatus}}
                            </div>
                        </div>
                    </li>
                    <li class="medium-text spacing-below">{{capitalize coupleDetails.husbandName}}</li>
                    <li>{{formatText location.villageName}}</li>
                    <li class="light-text">{{#if coupleDetails.isInArea}}EC No: {{coupleDetails.ecNumber}}, {{/if}}Thayi
                        No: {{thayiCardNumber}}
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div class="divider"></div>


    <div class="registry-container container-fluid">
        <div class="big-text row-fluid detail-section-header">
            Summary
        </div>
        <div class="well well-for-beneficiary-details-no-padding">
            <div class="container-fluid container-no-padding">
                <div class="row-fluid beneficiary-detail-component">
                    <div class="beneficiary-detail-content">
                        {{#ifFalse details.isHighRisk}}
                        <div class="big-text high-risk">
                            <i class="icon-circle-arrow-up priority-indicator-icon"></i> High Risk</span>
                        </div>
                        <div class="beneficiary-detail-footer risk-detail-text">
                            <ul>{{camelCaseAndConvertToListItems details.highRiskReason}}</ul>
                        </div>
                        {{else}}
                        <div class="text-center big-text normal-risk">Normal Risk</div>
                        {{/ifFalse}}
                    </div>
                    <div class="divider"></div>
                    <div class="beneficiary-detail-content">
                        <div class="span6 text-center right-border info">
                            <span class="big-text-numbers">{{pregnancyDetails.monthsPregnant}}</span><br><span
                                class="meta-summary-text">Months Pregnant</span>
                        </div>
                        <div class="span6 text-center info">
                            <span class="big-text-numbers">{{formatDate pregnancyDetails.edd}}</span><br><span
                                class="meta-summary-text">EDD</span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="registry-container container-fluid">
        <div class="big-text row-fluid detail-section-header">
            Timeline
        </div>
        <div class="well well-for-beneficiary-details-no-padding">
            <div class="container-fluid container-no-padding">
                {{#ifequal timelineEvents.length 0}}
                <div class="row-fluid unavailable-data">
                    No medical history data available
                </div>
                {{else}}
                <div class="row-fluid beneficiary-detail-component">
                    <div class="beneficiary-detail-content">
                        <div class="timeline">
                            {{#each timelineEvents}}
                            <div class="timeline-component row-fluid timelineEvent">
                                <div class="span3 type {{this.type}}"></div>
                                <div class="span5">
                                    <strong>{{title}}</strong><br>
                                    {{#each details}}
                                    {{{formatText this}}}<br>
                                    {{/each}}
                                </div>
                                <div class="span4 pull-right text-right">
                                    {{date}}
                                </div>
                            </div>
                            {{/each}}
                        </div>
                        <div class="container-section-component row-fluid show-more-button">
                            <div class="divider"></div>
                            <div class="expand"> Show more</div>
                        </div>
                    </div>
                </div>
                {{/ifequal}}
            </div>
        </div>
    </div>
</div>