<div class="span2" id="ec-register">
    <a class="btn btn-register" id="ecSmartRegistryOption">
        <span id="eligibleCoupleCount" class="register-count">{{eligibleCoupleCount}}</span>
        <span class="register-title">{{internationalize "home_ec_label"}}</span>
        <span>{{internationalize "register_label"}}</span>
    </a>
</div>
<div class="span2" id="fp-register">
    <a class="btn btn-register" id="fpSmartRegistryOption">
        <span id="fpCount" class="register-count">{{fpCount}}</span>
        <span class="register-title">{{internationalize "home_fp_label"}}</span>
        <span>{{internationalize "register_label"}}</span>
    </a>
</div>
<div class="span2" id="anc-register">
    <a class="btn btn-register" id="ancSmartRegistryOption">
        <span id="ancCount" class="register-count">{{ancCount}}</span>
        <span class="register-title">{{internationalize "home_anc_label"}}</span>
        <span>{{internationalize "register_label"}}</span>
    </a>
</div>
<div class="span2" id="pnc-register">
    <a class="btn btn-register" id="pncSmartRegistryOption">
        <span id="pncCount" class="register-count">{{pncCount}}</span>
        <span class="register-title">{{internationalize "home_pnc_label"}}</span>
        <span>{{internationalize "register_label"}}</span>
    </a>
</div>
<div class="span2" id="child-register">
    <a class="btn btn-register" id="childMenuOption">
        <span id="childCount" class="register-count">{{childCount}}</span>
        <span class="register-title">{{internationalize "home_child_label"}}</span>
        <span>{{internationalize "register_label"}}</span>
    </a>
</div>
